{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div id="booking-section" class="card-body">
    <div class="row">
        <div class="card col-md-4 col-10 offset-md-4 offset-1 mb-5">
        <h2 class="text-center">Make a Reservation</h2>
        <form method="post" id="booking-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary update-btn mb-2" id="submitBooking">Book Now</button>
        </form> 
</div>
</div>

{% endblock %}