/* Google Fonts CSS */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: url("../media/bg.webp") no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: overlay;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.opacity {
opacity: 0.55;
}

#intro p {
    font-weight: 200;
    font-size: 1rem;
    margin: 5px 0;
}

.logo {
    height: 7vh;
    width: 7vh;
    margin: 0 10px;
}
/* #logoImage { */
/* height: 50vh; */
/* width: 50vh; */

footer ul{
    list-style: none;
    justify-content: center;
    align-self: center;
}

 footer a {
    color: #fff;
    padding: 0 15px;
 } 

 footer a:hover { 
     color: #9e9d9bf3;
    border: 0; 
} 